.input_frame {
	position: relative;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column-reverse;
}

.input_label {
	position: relative;
	line-height: 1rem;
	font-size: 0.85rem;
	font-style: normal;
	font-weight: 600;
	color: var(--sb-input-label);
}

.input_label_disabled {
	color: var(--sb-neutral-10);
}

.input_label_error {
	color: var(--sb-primary-red);
}

.input_content {
	display: block;
	width: 100%;
	height: 35px;
	padding: 1.5rem 1rem;
	font-size: 1.15rem;
	border: none;
	outline: none;
	color: var(--sb-primary-black);
	border: 1px solid var(--sb-neutral-20);
	border-radius: 7px;
}

.input_content_password {
	letter-spacing: 6px;
}

.input_content_password::placeholder {
	letter-spacing: normal;
}

.input_content::placeholder {
	font-size: 1.15rem;
	color: var(--sb-neutral-20);
}

.input_content:focus,
.input_content:active {
	border: 1.5px solid var(--sb-primary-green);
}

.input_frame .input_content:focus + .input_label {
	color: var(--sb-primary-green);
}

.input_frame .input_content:focus + .input_label.input_label_error {
	color: var(--sb-primary-red);
}

.input_content_disabled {
	color: var(--sb-neutral-10);
	border-bottom: 1px solid var(--sb-neutral-10);
}

.input_content_disabled:hover {
	cursor: not-allowed;
}

.input_content_error {
	border-bottom: 1px solid var(--sb-primary-red);
}

.input_content_error:focus,
.input_content_error:active {
	border-bottom: 2px solid var(--sb-primary-red);
}

.input_frame small {
	font-size: 10px;
	position: relative;
	top: 0.5rem;
}

.input_helper_text {
	color: var(--sb-primary-green);
}

.input_error {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.input_error_text {
	color: var(--sb-primary-red);
	margin-left: 5px;
	font-size: 0.86rem;
}

.icon_eye_frame {
	position: absolute;
	right: 0;
	top: 1.79rem;
}

.icon_eye_password {
	width: 1rem;
	height: auto;
	vertical-align: middle;
}

.icon_eye_password:hover {
	cursor: pointer;
}

.input_container_flushed {
	position: relative;
	padding: 15px 0 0;
	width: 100%;
	display: flex;
}

.input_flushed {
	font-family: inherit;
	width: 100%;
	border: 0;
	outline: 0;
	font-size: 1.25rem;
	color: #212121;
	padding: 7px 0px;
	background: transparent;
	transition: border-color 0.2s;
	border-bottom: 1px solid rgb(218, 218, 218);
	transition: 0.2s;
	border-radius: 0;
}

.input_flushed::placeholder {
	color: transparent;
}

.input_flushed:placeholder-shown ~ .input_label_flushed {
	font-size: 16px;
	cursor: text;
	top: 24px;
}

.input_label_flushed,
.input_flushed:focus ~ .input_label_flushed {
	position: absolute;
	top: 8px;
	left: 0px;
	display: block;
	transition: 0.2s;
	font-size: 0.75rem;
	color: #9b9b9b;
	width: 100%;
	transition: 0.3s;
}

.input_flushed:focus ~ .input_label_flushed {
	color: #00ab6b;
}

.input_flushed:focus {
	border-color: #00ab6b;
	transition: 0.3s;
}

.password_padding {
	padding-right: 20px;
}
