.repo_frame{
  padding: 10px 0;
}
.repo_container{
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--sb-neutral-20);
  display: flex;
}

.repo_container:first-of-type{
  border-top: 1px solid var(--sb-neutral-20);
}

.image_repo{
  margin-right: 15px;
  padding-top: 2px;
}

.repo_container img {
  height: 20px;
  width: 20px;
}

.repo_name_container p{
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 3px;
}

.repo_desc_container p{
  font-size: 18px;
}

.repo_topics_container{
  display: flex;
  flex-wrap: wrap;
}

.repo_topics_container span{
  background: var(--sb-primary-green);
  border: 2px solid var(--sb-primary-green);
  margin: 3px 6px 3px 0;
  padding: 3px 10px;
  border-radius: 15px;
  color: var(--sb-primary-white);
  cursor: pointer;
}

.repo_topics_container span:hover{
  background: var(--sb-primary-white);
  border: 1px solid var(--sb-primary-green);
  color: var(--sb-primary-green);
  font-weight: bold;
}

.repo_etc_container{
  display: flex;
  flex-wrap: wrap;
}

.repo_etc_container span{
  display:flex;
  margin: 3px 6px 3px 0;
  margin-right: 12px;
}

.repo_etc_container span p{
  font-size: 15px;
}

.repo_etc_container img{
  height: 18px;
  width: 18px;
  margin-right: 2px;
}

.repo_item{
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .repo_container {
    padding: 2rem 0;
  }
}