.main-header {
  background: #fff;
  box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
}

.header-container {
  max-width: 1440px;
  width: 100%;
  padding: 20px 30px;
  margin: 0 auto;
}

.main-header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-right{
  max-width: 60%;
}

.header-searchbar {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
}